<div class="outer-container">
  <h2 class="filters-title">Filtres</h2>
  <div class="filters-container">
    <div class="input-container">
      <input type = "text" placeholder="Titre" class="input" />
      <input type="text" placeholder="Abstract" class="input" />
      <input type="text" placeholder="Mots Clés" class="input" />
      <input type="text" placeholder="Revue" class="input" />
      <input type="text" placeholder="DOI" class="input" />
    </div>
    <div class="input-container">

      <select class="select">
        @for (field of fields ; track field){
        <option value="{{field}}">{{field}}</option>
        }
        <option value="all">Tous domaines</option>
      </select>

      <div>
        <label for="dateAsc">Ascending Date</label>
        <input type="checkbox" id="dateAsc" />
      </div>
      <div>
        <label for="dateDesc">Descending Date</label>
        <input type="checkbox" id="dateDesc" />
      </div>
      <div>
        <label for="limit">Limit</label>
        <input type="number" id="limit">
      </div>
    </div>
  </div>
  <div class="button-container">
    <app-button>Rechercher</app-button>
  </div>
</div>
