.banner {
  padding: 0 1vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5em 'Roboto', sans-serif;
  border-top: 1px solid var(--primary-white);
  color: var(--primary-white);

  p {
    flex-grow: 1;
    text-align: center;
  }
  span {
    position: absolute;
    right: 1vw;
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
  }

  span:hover {
    color: var(--secondary-red)
  }
}

.success {
  background-color: var(--banner-green);
}

.info {
  background-color: var(--banner-blue);
}

.warning {
  background-color: var(--banner-yellow);
}

.error {
  background-color: var(--banner-red);
}


