.banner {
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5em 'Roboto', sans-serif;
  border-top: 1px solid var(--primary-white);
}

.success {
  background-color: var(--banner-green);
}

.info {
  background-color: var(--banner-blue);
}

.warning {
  background-color: var(--banner-yellow);
}

.error {
  background-color: var(--banner-red);
}


