.banner {
  height: 5vh;
  margin-bottom: 5vh;
  padding: 0 1vw;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: var(--primary-white);
  border-bottom: 1px solid var(--primary-white);

  font: 1.5em 'Roboto', sans-serif;

  color: var(--primary-white);

  p {
    flex-grow: 1;

    text-align: center;
  }
  span {
    position: absolute;
    right: 1vw;

    font-size: 1.5em;

    cursor: pointer;
    user-select: none;
  }

  span:hover {
    color: var(--secondary-red)
  }
}

.success {
  background-color: var(--banner-green);
}

.info {
  background-color: var(--banner-blue);
}

.warning {
  background-color: var(--banner-yellow);
}

.error {
  background-color: var(--banner-red);
}


