<div class="fullscreen-container">
  <app-button (click)="cacherBanner()">Cacher</app-button>
  <app-button (click)="afficherBanner()">Afficher</app-button>
  <!--
  <div class="container">
    <app-paper-info [paperId]="42"></app-paper-info>
    <app-button [link]="'/accueil'">Un beau bouton</app-button>
    <app-rich-button [link]="'/accueil'" [icon]="'/feather.png'">
      <div>Un beau bouton</div>
    </app-rich-button>
    <app-icon-button [link]="'/accueil'" [icon]="'/person.png'">

    </app-icon-button>
  </div>
  -->
  <app-loading>Chargement des articles</app-loading>
</div>
