.show-user-profile {
  border: 1px solid gold;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.show-user-profile .table {
  border-radius: 15px;
  color: white;
  font-family: var(--body-font);
}

.show-user-profile user-info {
  width: 100%;
  height: 100%;
}

.user-picture{
  border: 1px solid gold;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

img {
  filter: invert(0.8);
  //background-color: var(--primary-grey);
}
