.button-container {
  height: 50px;
  margin: 0 25px;
  padding: 0 20px;

  display: flex;
  align-items: center;

  border-radius: 25px;
  border: 1px inset var(--primary-white);

  font-family: var(--links-font), system-ui;

  background-color: var(--primary-red);
  color: var(--primary-white);

  cursor: pointer;
  transition: background-color 0.5s ease;
  user-select: none;
}

.button-container:hover {
  background-color: var(--secondary-red);
}


.classique {
  justify-content: center;
}

.rich {
  justify-content: space-between;
  gap: 20px;
}

.icon {
  width: 50px;
  padding: 0;

  justify-content: center;

  border-radius: 100%;
}

img {
  height: 40px;

  filter: invert(0.8);
}
