.button-container {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    background-color: var(--primary-red);
    border-radius: 25px;
    border: 1px inset var(--primary-white);
    transition: background-color 0.5s ease;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--primary-white);
}

.button-container:hover {
    background-color: var(--secondary-red);
}

a {
    text-decoration: none;
    font-family: var(--links-font), system-ui;
}

.classique {

    justify-content: center;
}

.rich {
    justify-content: space-between;
    gap: 20px;
}

.icon {
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    width: 50px;
}

img {
    height: 40px;
    filter: invert(0.8);
}
