.header-container {
  display: flex;
  height: 110px;
  background-color: var(--primary-grey);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.sapioza-title {
  font-size: 60px;
  margin-left: 20px;
  font-family: var(--title-font);
}

a {
  text-decoration: none;
  color: var(--title-green);
}

.navigation {
  width:50%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;  
}