<div class="header-container">
    <div class="sapioza-title">
        <a routerLink="/accueil">Sapioza</a>
    </div>
    <nav class="navigation">
        <app-rich-button link="/create" icon="/feather.png">Créer</app-rich-button>
        <app-rich-button link="/search" icon="/magnifying.png">Rechercher</app-rich-button>
      @if (this.connectionService.isLogged()){
        <app-icon-button link="/abonnements" icon="/bell.png"></app-icon-button>
      }
        <app-icon-button [link]="connectionService.getConnectionRoute()" icon="/person.png"></app-icon-button>
    </nav>
</div>
