<div class="form-container">
  <form [formGroup]="formUserProfile">
    <div class="form-body">
      <div class="form-field">
        <label for="firstName">Nouveau prénom</label>
        <label for="lastName">Nouveau nom</label>
        <label for="password">Mot de passe</label>
      </div>
      <div class="form-field">
        <input type="text" id="firstName" formControlName="firstName">
        <input type="text" id="lastName" formControlName="lastName">
        <input type="password" id="password" formControlName="password">
      </div>
    </div>
    <div class="form-submit">
      <button (click)="onSubmit()" [disabled]="!formUserProfile.valid">Enregistrer</button>
    </div>
  </form>
</div>
