<form [formGroup]="formChangePassword">
  <div class="form-body">
    <div class="form-field">
      <label for="changePasswordEmail">Email</label>
      <input type="email" id="changePasswordEmail" formControlName="email" readonly>
    </div>
    <div class="form-field">
      <label for="changePasswordPassword">Password</label>
      <input type="password" id="changePasswordPassword" formControlName="password">
    </div>
    <div class="form-field">
      <label for="changePasswordNewPassword">New Password</label>
      <input type="password" id="changePasswordNewPassword" formControlName="newPassword">
    </div>
    <div class="form-field">
      <label for="changePasswordConfirmNewPassword">Confirm Password</label>
      <input type="password" id="changePasswordConfirmNewPassword" formControlName="confirmNewPassword">
    </div>
    <button (click)="onSubmit()" [disabled]="!formChangePassword.valid">enregistrer</button>
  </div>
</form>
