<div class="form-container">
  <form [formGroup]="formChangePassword">
    <div class="form-body">
      <div class="form-field">
        <label for="changePasswordPassword">Mot de passe actuel</label>
        <label for="changePasswordNewPassword">Nouveau mot de passe</label>
        <label for="changePasswordConfirmNewPassword">Confirmez votre nouveau mot de passe</label>
      </div>
      <div class="form-field">
        <input type="password" id="changePasswordPassword" formControlName="password">
        <input type="password" id="changePasswordNewPassword" formControlName="newPassword">
        <input type="password" id="changePasswordConfirmNewPassword" formControlName="confirmNewPassword">
      </div>
    </div>

    <div class="form-submit">
      <button (click)="onSubmit()" [disabled]="!formChangePassword.valid">Enregistrer</button>
    </div>
  </form>
</div>
