@import url('https://fonts.googleapis.com/css2?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --title-font: 'Mr Dafoe', cursive;
  --links-font: 'Roboto', sans-serif;
  --body-font: 'Karla', 'Times';

  --background-color: #1C1C1C;
  --darker-grey: #202220;
  --primary-grey:#323432;
  --secondary-grey:#7F7F7F;
  --primary-white: #D2D2D2;
  --primary-orange:#F5432D;
  --primary-yellow:#FAC900;
  --secondary-yellow:#FFEA2C;
  --primary-red:#4A0018;
  --secondary-red: #a70339;
  --primary-green: #00AB54;
  --primary-blue: #3041ff;

  --banner-red: #DF3E41;
  --banner-yellow: #9c9c07;
  --banner-green: #2d9f2d;
  --banner-blue: #5757ec;

  scrollbar-color: var(--primary-white) var(--primary-grey);
  scrollbar-width: thin;
}

.ng-invalid.ng-touched {
  border-color : var(--primary-orange);
}
